{% extends 'AppBundle::main.html.twig' %}

{% block title %}Country page!!!{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <h6 class="title-table">Add team!!!!</h6>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block javascripts %}
    <script>
        jQuery(document).ready(function(){
            var urlHolder = jQuery('#add_team_players'),
                    addURL = jQuery('<span class="add_url glyphicon-plus"> Player</span>'),
                    newItem = jQuery('<div class="col-xs-12 form-group add_player"></div>').append(addURL);

            urlHolder.append(newItem);
            urlHolder.data('index', urlHolder.find(':input').length);

            urlHolder.children().each(function () {
                var deleteX = jQuery('<a href="#" class="remove-tag"><i class="glyphicon glyphicon-remove-circle"></i></a>');
                var parentEl = jQuery(this);
                if (!parentEl.hasClass('add_player')) {
                    parentEl.append(deleteX);
                }
            });
            // handle the removal, just for this example
            jQuery('.remove-tag').click(function (e) {
                e.preventDefault();
                jQuery(this).parent().remove();

                return false;
            });

            addURL.on('click', function (e) {
                e.preventDefault();
                addTagForm(urlHolder, newItem);
            });

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '$$name$$' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = jQuery(prototype.replace(/__name__label__/g, '').replace(/__name__/g, index));

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                newForm.insertBefore($collectionHolder.children().last());
                // also add a remove button, just for this example
                newForm.append('<a href="#" class="remove-tag"><i class="glyphicon glyphicon-remove-circle"></i></a>');

                // handle the removal, just for this example
                jQuery('.remove-tag').click(function(e) {
                    e.preventDefault();

                    jQuery(this).parent().remove();

                    return false;
                });
            }
        })

    </script>
{% endblock javascripts %}