.country1{
    background: url("../images/flags/186.png") center top no-repeat;
    background-size: cover;
}
.country2{
    background: url("../images/flags/274.png") center top no-repeat;
    background-size: cover;
}
.country3{
    background: url("../images/flags/273.png") center top no-repeat;
    background-size: cover;
}
.country4{
    background: url("../images/flags/259.png") center top no-repeat;
    background-size: cover;
}
.country5{
    background: url("../images/flags/178.png") center top no-repeat;
    background-size: cover;
}
.country6{
    background: url("../images/flags/174.png") center top no-repeat;
    background-size: cover;
}
.country7{
    background: url("../images/flags/162.png") center top no-repeat;
    background-size: cover;
}
.country8{
    background: url("../images/flags/168.png") center top no-repeat;
    background-size: cover;
}
.country9{
    background: url("../images/flags/158.png") center top no-repeat;
    background-size: cover;
}
.country10{
    background: url("../images/flags/207.png") center top no-repeat;
    background-size: cover;
}
.country11{
    background: url("../images/flags/271.png") center top no-repeat;
    background-size: cover;
}
.country12{
    background: url("../images/flags/173.png") center top no-repeat;
    background-size: cover;
}
.country13{
    background: url("../images/flags/273.png") center top no-repeat;
    background-size: cover;
}
.country14{
    background: url("../images/flags/160.png") center top no-repeat;
    background-size: cover;
}
.country15{
    background: url("../images/flags/172.png") center top no-repeat;
    background-size: cover;
}
.country16{
    background: url("../images/flags/266.png") center top no-repeat;
    background-size: cover;
}
.country17{
    background: url("../images/flags/264.png") center top no-repeat;
    background-size: cover;
}
.country18{
    background: url("../images/flags/198.png") center top no-repeat;
    background-size: cover;
}
.country19{
    background: url("../images/flags/268.png") center top no-repeat;
    background-size: cover;
}
.country20{
    background: url("../images/flags/185.png") center top no-repeat;
    background-size: cover;
}
.country21{
    background: url("../images/flags/165.png") center top no-repeat;
    background-size: cover;
}
.country22{
    background: url("../images/flags/182.png") center top no-repeat;
    background-size: cover;
}
.country23{
    background: url("../images/flags/200.png") center top no-repeat;
    background-size: cover;
}
.country24{
    background: url("../images/flags/193.png") center top no-repeat;
    background-size: cover;
}